	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
 						<div class="area1">
 							<input type="button" name="" value="Itemisend style">
 							<input type="button" name="" value="Totle style">
 						</div>
	 					<fieldset class="form-group">
							<label for="Email">Biller</label>
							<select name="">
								<option value="">Muhammad usman</option>
								option
							</select>
							<label for="Email">Customer</label>
							<select name="">
								<option value="">Muhammad usman</option>
								option
							</select>
							<label for="Email">Date </label>
							<input type="date" name="" value="" placeholder="mm/dd/yyy">
						</fieldset>
		 				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 col-lg-offset-2">
						  <table class=" table  table-striped" style="background: #f0f0f0">
							    <thead>
							      <tr>
							      	<th></th>
							        <th>Quantity</th>
							        <th>Item</th>
							        <th>Tax</th>
							        <th>Unit Price</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        	<td></td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							        	<td>
							        	<select name="">
							        	<option value="">Item</option>
							        	</select>
							        	</td>
							        	<td>
							        	<select name="">
							        	<option value="">tax</option>
							        	</select>
							        	</td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							      </tr>
							       <tr>
							        	<td><i class="fa fa-trash" aria-hidden="true"></i></td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							        	<td>
							        	<select name="">
							        	<option value="">Item</option>
							        	</select>
							        	</td>
							        	<td>
							        	<select name="">
							        	<option value="">tax</option>
							        	</select>
							        	</td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							      </tr>
							       <tr>
							        	<td><i class="fa fa-trash" aria-hidden="true"></i></td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							        	<td>
							        	<select name="">
							        	<option value="">Item</option>
							        	</select>
							        	</td>
							        	<td>
							        	<select name="">
							        	<option value="">tax</option>
							        	</select>
							        	</td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							      </tr>
							       <tr>
							        	<td><i class="fa fa-trash" aria-hidden="true"></i></td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							        	<td>
							        	<select name="">
							        	<option value="">Item</option>
							        	</select>
							        	</td>
							        	<td>
							        	<select name="">
							        	<option value="">tax</option>
							        	</select>
							        	</td>
							        	<td><input type="text" name="" value="" placeholder=""></td>
							      </tr>

							    </tbody>
						  </table>
						 	<div class="area">
							  <input class="btn btn-primary" type="button" value="save">
		 					  <input class="btn btn-danger" type="button" value="Cancel">
		 					</div>
						</div>
	 				</div>
	 			
