<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Bootstrap Example</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!--<link rel="stylesheet" href="css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/stylesheet.css">-->

	</head>
	<body>

	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class="">
	 						<form>
	 							<fieldset class="form-group">
	 								<legend>Add Product</legend>
	 								<label for="description">Description</label>
	 								<input type="text" class="form-control" id="description" placeholder="Description">
	 								<label for="unitPrice">Unit Price</label>
	 								<input type="text" class="form-control" id="unitPrice" placeholder="Unit Price">
	 								<label for="select">Default Tax</label>
	 								<select name="select" >
	 									<option value="enable"></option>
	 									<option value="disable"></option>
	 								</select>
	 								<label for="select">Enable</label>
	 								<select name="select" >
	 									<option value="enable">Enable</option>
	 									<option value="disable">Disable</option>
	 								</select>
	 								<input class="btn btn-primary" type="button" value="save">
	 								<input class="btn btn-danger" type="button" value="Cancel">
	 							</fieldset>

	 						</form>
	 					</div>
	 				</div>
	 			
	  <script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script>
$("#menu > li > a").click(function () {
    // $('ul.sub-menu').not($(this).siblings()).slideUp();
    $(this).siblings("ul.sub-menu").slideToggle();
});
</script>
	</body>
</html>
