
		 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class="" ng-app="billerModule" ng-controller="addBiller">
	 						<form>
	 							<fieldset class="form-group">
	 								<form ng-submit="save()">
									 <legend>Add User</legend>
	 								<label for="Email">Name</label>
	 								<input type="text" class="form-control" ng-model="biller.name" placeholder="Name">
	 								<label for="select">Address</label>
	 								<input type="text" class="form-control" ng-model="biller.address" placeholder="Address">
	 								<label for="Password">Email</label>
	 								<input type="Password" class="form-control" ng-model="biller.email"  placeholder="Email">
	 								<label for="select">City</label>
	 								<input type="text" class="form-control" ng-model="biller.city"  placeholder="City">
	 								<label for="User">Contact</label>
	 								<input type="text" class="form-control" ng-model="biller.contact"  placeholder="Contact">
									 <button type="submit">
										 </form>
	 							</fieldset>

	 						</form>
	 					</div>
	 				</div>
	
