<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="css/stylesheet.css">-->
</head>

<body ng-app="customerModule">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
       <h3>Edit Customer</h3>
            <div ng-controller="crudController">
			<ul ng-repeat="item in Customers">
  <li  ng-repeat="(key, val) in item" ng-hide="(key=='total' || key=='paid' || key=='owing')" ng-if="key!='customfields'">
   <label class="label"> {{key}}</label> <input type="text" value='{{val}}'/> 
  </li>
 
 <!--div ng-repeat="(key, val) in item" ng-hide="(key=='name' || key=='id' || key=='address' || key=='contact'|| key=='email' || key=='city')" ng-if="key!='customfields'">
      <label class="label"> {{key}}</label> <input type="text" value='{{val}}'/> 
 </div-->
</ul>



<div ng-repeat="item in customs">
 
  <label class="label">{{item.fieldName}}</label>
 
   <input type=text value='{{item.fieldValue}}'/>

</div>




        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>

    <!--/*<script src="../shared/angular.min.js"></script> */-->
    <script src="../angular-route/angular-route.js"></script>
    <script src="../angular-animate/angular-animate.js"></script>

    <script src="../js/services.js"></script>
    <script src="../js/customer.js"></script>
    <!-- <script   src="../controllers/customer.js"></script> -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $("#menu > li > a").click(function() {
            // $('ul.sub-menu').not($(this).siblings()).slideUp();
            $(this).siblings("ul.sub-menu").slideToggle();
        });
    </script>
</body>

</html>